/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: #a9a9a9;
  }
  
  body {
    width: 100%;
    min-width: 800px;
    margin: 0 auto;
  }
  
  /* || typography */
  
  h1, h2, h3 {
    font-family: 'Averia Sans Libre', cursive;
    color: #2a2a2a;
  }
  
  p, input, li {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
  }
  
  h1 {
    color: ghostwhite;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
  }
  
  h2 {
    font-size: 3rem;
    text-align: center;
  }

  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  /* || header layout */
  
  .header {
    background-color: darkred;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
  }
  
  body > * {
    background-color:yellow;
    padding: 1%;
  }

  .container{
    display: flex;
    margin: 0 auto;
    max-width:960px;
  }
  .one{
    display:flex;
    flex-direction:column;
    padding:1%;
    flex: 33.33%;
    align-items: center;
  }
  .one img{
    margin: 25px;
    display: block;
    height: 175px;
    width: 175px;
    border: 1px solid #d81111;
    border-radius: 4px;
    
  }
  .two {
    background-color: white;
    padding: 1%;
    flex: 66.67%;
  }
  
  .caption{
    margin: 0px;
    background-color: white;
    padding: 1%;
  }

  @media screen and (max-width:1000px){
    .container{
        flex-direction:column;
    }
    .one{
        flex-direction:row;
    }
  }
  
  h1 {
    flex: 5;
    text-transform: uppercase;
  }
  
  .header img {
    margin-left: 10px;
    display: block;
    height: 100px;
    padding-top: 20.15px;
  }

  
